python-docx
langdetect
torch
whisper
librosa
soundfile
noisereduce
python-dotenv
PyMuPDF
Pillow
pytesseract
easyocr
numpy
opencv-python

# Hướng dẫn sử dụng
# cd backend
# pip install -r requirements.txt