  @import './base.css';

  #app {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  a,
  .green {
    text-decoration: none;
    transition: 0.4s;
    padding: 3px;
  }

  @media (hover: hover) {}

  @media (min-width: 1024px) {
    body {
      display: flex;
      place-items: center;
    }

    #app {
      grid-template-columns: 1fr 1fr;
      padding: 0 .6rem;
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    font-size: 18px;
    vertical-align: middle;
  }

  /* Toàn bộ toast */
  .Vue-Toastification__toast {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  /* Toast success */
  .Vue-Toastification__toast--success {
    background-color: #4caf50;
    color: #fff;
  }

  /* Toast error */
  .Vue-Toastification__toast--error {
    background-color: #f44336;
    color: #fff;
  }

  /* Toast info */
  .Vue-Toastification__toast--info {
    background-color: #2196f3;
    color: #fff;
  }

  /* Toast warning */
  .Vue-Toastification__toast--warning {
    background-color: #ff9800;
    color: #fff;
  }

  /* Close button */
  .Vue-Toastification__close-button {
    color: #fff;
    font-weight: bold;
  }

  .my-success-toast {
    background: linear-gradient(135deg, #43e97b, #38f9d7);
    color: rgb(127, 124, 124);
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .my-error-toast {
    background: linear-gradient(135deg, #f85032, #e73827);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #ccc;
  }